.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 450px;
  background-color: #f1efef;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 9999;
}

.confirmation-dialog .warning-icon {
  width: 20%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 8px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

@media (max-width: 768px) {
  .confirmation-dialog {
    width: 80%;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
